.send{
    margin-left: 16%;
    margin-right: 16%;

}

.title{
    margin-top: 60px;
    font-family: barlow-medium,barlow,sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    line-height: 39px;
    text-align: left;
}
.reasons_container{


    text-align: center;
    letter-spacing: normal;
    line-height: normal;
    width: 500px;
    margin: 80px auto 110px auto
    
}
.reasons_title{
    font-family: barlow-medium, barlow, sans-serif;
    font-size: 25px;
    margin-bottom: 60px;
    
}
.reasons_list{
    font-family: "courier new", courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
    font-size: 20px;
    list-style-type: none;
}
.list_item{
    margin-bottom: 50px;
    list-style-type: none;
}

.share_title{
    text-align: left;
    font-family: barlow-medium, barlow, sans-serif;
    font-size: 25px;
    margin-bottom: 40px;
    
}
.share_link{
    font-family: barlow-medium, barlow, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;

}
.share_link_item{
    text-decoration: none;

    
}
.share_link_item:visited{
    text-decoration: none;
    color: black;
}
.share_link_item:hover{
    text-decoration:underline;

}

.share_info{
    font-family: "courier new", courier-ps-w01, courier-ps-w02, courier-ps-w10, monospac;
    font-size: 20px;
    text-align: left;
    margin-bottom: 100px;
}