.cards_container_container{
    width: 100%
}
.cards_container{

    display: flex;
    width: 1150px;
    flex-wrap: wrap;
    
    margin: 0 auto;

    
}

.card{
    min-width: 200px;
    width: 200px;

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;

}
.image_container{
    min-width: 200px;
    width: 200px;
}
.image_item{
    min-width: 200px;
    width: 200px;
}
.info_container{
    text-align: left;
}
.author_container{
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    padding-top: 25px;
}

.link{
    color: black;
}
.link:visited{
    text-decoration: none;
    color: black;

}
.bookname_container{
    font-family: "Sabon", serif;
    font-size: 22px;
    font-weight: 100;
    line-height: 26px;
    padding-top: 7px;
}

@media only screen and (max-width: 1160px) {
    .cards_container{

        width: 920px;

    
        
    }
}
@media only screen and (max-width: 930px) {
    .cards_container{

        width: 690px;

    
        
    }
}
@media only screen and (max-width: 700px) {
    .cards_container{

        width: 460px;

    
        
    }
}
@media only screen and (max-width: 470px) {

    .card{
  
    margin-left: 8px;
    margin-right: 8px;

}
}