

.taskbar-container{
    width: 140px;
    height: 100%;
    
    position:fixed;
   
    right: 0;
    padding-top: 48px;
    /*color: rgb(172,172,172);*/
    float: right;
    background:transparent;
    
}

.nav-list-item-container{
    --item-height: 30px;
    text-align: left;
    /*font-family: "normal normal normal 17px/1.4em barlow-medium,barlow,sans-serif";*/
    text-decoration: none;
    list-style-type: none;
   
}

.nav-list-item{
    padding-bottom: 11px;
}
.nav-list-item:hover{
    color: rgb(172,172,172);
}