.Home{
    height: 802px;
}
.image-button-container{
    margin-top: 70px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.button-container{
   
    position: absolute;
    top:100%;
    left: 100%;
    transform: translate(-50% , -50%);
    
    
    
}
.learn-more-button{
    text-decoration: none;
    border: 1px solid black;
    stroke: black;
    height: 33px;
    width:121px;
    background: transparent;
    
}
.learn-more-button:hover{
    transition-timing-function: ease-in;
    transition: 0.25s;

    
    background-color: white;
}

.learn-more-button-text{
    color: #050505;
    font-family: "futura-lt-w01-book,sans-serif";
    margin: 0px 4px 0px 0px;
    font-size: 14px;
    letter-spacing: 0.09em;
    font-family: "courier new",courier-ps-w01,courier-ps-w02,courier-ps-w10,monospace;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}