.footer_container{
    height: 470px;
}


.follow_container{
    font-family: barlow-medium,barlow,sans-serif;
    font-size: 30px;
    text-align: left;
    padding-top: 45px;
    
}

.bar_container{
    padding-top: 5px;
    height: 10px;
   
}

.media_container{
    height: 275px;
    width: 900px;
    
    margin: 0 auto;
    align-items: center;

}

.media_grid_container{
    padding-top: 60px;
    display: grid;
   
    grid-template-columns: auto auto auto;
    height: 100px;
    width: 100%;
}

.grid_item {
    width: 300px;
    
  
}
.grid_item_title{
    font-size: 17px;
    color: rgb(21,93,233);
    font-family: normal normal normal 17px/1.4em barlow-medium,barlow,sans-serif;
    padding-bottom: 45px;
}

.social_media_list{
    display: inline-block;
    text-decoration: none;
 
}
.social_media_list_item{
    display: inline-block;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    
}

.form_container{
    width: 211px;
    height: 30px;
    margin: 0 auto;
}
.form_container:hover{
    background-color: rgb(1, 80, 1);
}

.form_item{
    width: 100%;
    background: transparent;
    text-decoration: none;
}

.form_button{
    width: 209px;
    height: 40px;
    
    text-decoration: none;
    background-color: black;
    border: none;    
}

.form_button:hover{
    background-color: rgb(1, 80, 1);
}
.form_button_text{
    color: white;
    
}

.email_link{
    text-decoration: none;
    color: black;
}
.email_link:visited{
    text-decoration: none;
}

.copyright_container{

    width:900px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom:30px;
    height: auto;
    font-size:16px;
    font-family: 'courier new',courier-ps-w01,courier-ps-w02,courier-ps-w10,monospace;
}


@media only screen and (min-width:980px){
    .follow_container{
        padding-left:5%;
    }
    
}