.coming_soon{
    color: #FFFFFF;
    background: #F7C1C1;
    text-shadow: 4px 3px 0px #7A7A7A;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 60px;
    height:780px;
    width:100%;
    background-image: url(https://static.wixstatic.com/media/2b92b1e47b4a4332934c43d6a245c1a4.jpg/v1/fill/w_1340,h_990,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/2b92b1e47b4a4332934c43d6a245c1a4.jpg);
    background-color: red;
    padding-top: 200px;
}