.card{
    height:520px;
    width: 300px;
    padding: 30px;
    padding-bottom: 0;

    border: 1.5px rgb(163, 156, 156) solid;
}

.card_inner{
    height: 490px;
    width:100%;
    background-color: blue;
    z-index: 2000;
    position: relative;
    
    
   
}
.image_container{
    width:100%;
    height:430px;
    background-color: purple;
}

.info_container{
    position: absolute;
    background-color: white;
    bottom: 0;
    z-index: 999;
    height:60px;
    width:100%;
    transition: ease-in-out 0.25s;
    color: black

}
.info_container:hover{
    height:100px;
    transition: ease-in-out 0.25s;

}
.author_container{
    text-align: left;
    padding-top: 20px;
    font-size: 16px !important;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.bookname_container{
    text-align: left;
    padding-top: 5px;
    font-size: 18px !important;
    font-family: "Sabon", serif !important;
    font-weight: 100;
    
}


.image_item{
    object-fit:fill;
    width:100%;
    height: 430px;

}

