.page_title{
    margin-top: 60px;
    font-family: barlow-medium, barlow, sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    line-height: 36px;
}
.info_block{

    width: 750px;
    
    margin: 0 auto;
    outline: 1px solid black;
    padding: 6px;
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    margin-top:30px;
    margin-bottom: 60px;
    
}
.info_container{
    margin-top: 30px;
    text-align: left;
    font-family: barlow-medium, barlow, sans-serif;
    font-size: 17px;
    margin-left: 50px;
    padding: 10px;
}
.image_item{
    width: 330px;
}